.admin-categories {
   font-size: 20px;
   color: green;
   text-decoration: none;
}

.admin-categories:hover {
    color: rgb(99, 174, 99);
    transition: ease-in-out 200ms;
    text-decoration: none;

 }