<section class="about-index">
  <h1 class = "mt-3" >About Us</h1>

  <p>At Jungle, we are passionate about plants and the benefits they bring to our daily lives. We believe that plants have the power to improve our physical and mental well-being, and that everyone should have access to high-quality, beautiful plants to enhance their environment.</p>

  <p>Our team of experts carefully selects each plant that we offer, ensuring that it is healthy, beautiful, and ready to thrive in your home or office. We offer a wide range of plants, from low-maintenance succulents to lush, tropical varieties, and we are always expanding our selection to meet the needs of our customers.</p>

  <p>We are more than just a plant store - we are a community of plant lovers who are passionate about sharing our knowledge and enthusiasm with others. We offer a range of resources and educational materials to help our customers learn about their plants and care for them properly, so that they can enjoy them for years to come.</p>
</section>